/*Tags*/

nav {
  height: 10vh;
  background: #009879;
}

nav {
  position: relative;
}

/*Classes*/

.nav-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-text {
  margin-top: 10px;
  font-size: 25px;
  color: white;
}

.nav-links {
  display: flex;
  list-style: none;
  width: 50%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
}

.nav-links .list-link .link {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.Line {
  width: 30px;
  height: 3px;
  background: white;
  margin: 5px;
}

.hamburger {
  position: absolute;
  cursor: pointer;
  right: 5%;
  top: 50%;
  transform: translate(-5%, -50%);
  z-index: 2;
}

.nav-links {
  position: fixed;
  background: #009879;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  clip-path: circle(100px at 90% -20%);
  -webkit-clip-path: circle(100px at 90% -20%);
  transition: all 1s ease-out;
  pointer-events: none;
}
.nav-links.open {
  clip-path: circle(2055px at 90% -20%);
  -webkit-clip-path: circle(2055 at 90% -20%);
  pointer-events: all;
}
.landing {
  flex-direction: column;
}
.nav-links .list-link {
  opacity: 0;
}
.nav-links .list-link .link {
  font-size: 25px;
}
.nav-links .list-link:nth-child(1) {
  transition: all 0.5s ease 0.2s;
}
.nav-links .list-link:nth-child(2) {
  transition: all 0.5s ease 0.4s;
}
.nav-links .list-link:nth-child(3) {
  transition: all 0.5s ease 0.6s;
}
.list-link.fade {
  opacity: 1;
}
