/*Tags*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

/*Classes*/
  .mywebsite-list {
    margin: 5px;
    display: flex;
    justify-content: center;
    text-align: center;
    list-style-type: none;
  }
  .search-results {
    margin: 5px;
    display: flex;
    justify-content: center;
    text-align: center;
    list-style-type: none;
  }

/*Id*/

